<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fostering Linux Services Pvt. Ltd. (Intern Noida)</title>
  <link rel="icon" href="https://media.licdn.com/dms/image/C4D0BAQG4gU20BdXhxw/company-logo_200_200/0/1630453388003/fostering_linux_logo?e=2147483647&v=beta&t=w9694YAd5QAltAHXNiTIxv33Q17Mcy7bLwXR-88XkNA">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="stylesheet" href="/stylesheet/style.css">
  <script src="script.js"></script>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <img class="logo_home" src="https://i.ibb.co/cCMkWG2/images-removebg-preview.png" alt="Logo">    
    <div>
      <ul>
        <li><a href="/" id="homeLink">HOME</a></li>
        <li><a href="/program" id="programLink">PROGRAM</a></li>
        <li><a href="/aboutUs" id="aboutUsLink">ABOUT US</a></li>
        <li><a href="/contactUs" id="contactUsLink">CONTACT US</a></li>
        <li><a href="/applyNow" id="applyNowLink">APPLY NOW</a></li>
      </ul>
    </div>
  </nav>

  <!-- About Us Content -->
  <div class="about-section">
    <h1>About Fostering Linux</h1>
    <p style="font-size: larger;">Born out of a necessity, FL started in 2006. Our parent, Open Source IT Consulting
      company, Keen and Able (KNA), had a consistent need to find relevant people. Paucity of right personnel was
      impacting business. We realised that most of the schools and colleges are unable to instil the skills, depth,
      initiative and application required by people in their careers. We were confident that since we knew what
      customers needed, we would be able to impart practicality to the learning process and prepare people who are ready
      to work in the real world out there...
      FL has always been about people. WE do not claim that we can 'train' people well. What we try to achieve is
      provide an all rounded learning environment to joinees to help them think, think openly. We have realised that our
      education system does not promote querying. We try to instil a knack of asking questions in our pupil. We firmly
      believe that once we get into the habit of asking the right questions, we can find all the relevant answers. </p>

      <!-- adding break -->
      <br><br>

    <div class="img_about">
      <img class="img_about"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxZdTYg3EanGI2gc4OTzf9BLFUSky2wWJ7jg&usqp=CAU"
        alt="">
    </div>
    <div class="img1_about">
      <img class="img1_about"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEutbJFwRmaHUZwDSYbpi9HMuudMfo0tHMYA&usqp=CAU"
        alt="">
    </div> <br><br><br><br>
    <h2>Our Mission</h2>
    <p style="font-size: larger;">Our mission is to bridge the gap between technical education and professional
      readiness by providing immersive <br> internships that equip students with the skills and knowledge necessary to
      succeed in their chosen fields.</p>
<br>
    <h2>Our Values</h2>
    <ul style="font-size: larger;">
      <li>Learning by doing</li>
      <li>Diversity and inclusion</li>
      <li>Mentorship and support</li>
      <li>Innovation and collaboration</li>
    </ul>
<br><br>
    <h2>Benefits of Interning at Fosterin Linux Services</h2>
    <ul style="font-size: larger;">
      <li>Gain hands-on experience with cutting-edge technologies</li>
      <li>Work on real-world projects that make a difference</li>
      <li>Receive mentorship and guidance from experienced professionals</li>
      <li>Build your network and connect with industry leaders</li>
      <li>Enhance your resume and portfolio</li>
    </ul>
<br>
    <!-- <h2>Testimonials</h2> -->
    <div class="testimonials">
      <blockquote style="font-size: larger;">
        "Interning at Fostering Linux was the best decision I made. I learned so much and gained valuable experience that
        helped me land my dream job." - Manish Chaudhary, Intern 2023
      </blockquote>
    </div>

    <!-- <a href="/applyNow" class="apply-now-button">Apply Now</a> --> 
  </div>
  <h2 class="team" style="text-align:center">Meet Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="https://i.ibb.co/N7t9pdF/varadsir.jpg" alt="Img"
          style="width:100%">
        <div class="container_about">
          <h2>Mr. Varad Gupta</h2>
          <p class="title">CTO</p>
          <p>Learn to code, Code to learn.</p>
          <p><Span style="font-weight: bold;">Email:</Span> varad_gupta@fosteringlinux.com</p>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="https://i.ibb.co/FKvx8KP/rashmichaudhary.png" alt="Img"
          style="width:100%">
        <div class="container_about">
          <h2>Mrs. Rashmi Chaudhary</h2>
          <p class="title">Head Intern Division</p>
          <p>In learning you will teach, In teaching you will learn.</p>
          <p><Span style="font-weight: bold;">Email:</Span> rashmi_chaudhary@fosteringlinux.com</p>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="https://i.ibb.co/pRcqwcW/puneetsir.png" alt="Img"
          style="width:100%">
        <div class="container_about">
          <h2> Mr. Puneet Gupta </h2>
          <p class="title">Vice President of Sales</p>
          <p>Yes, We have always been open.</p>
          <p><Span style="font-weight: bold;">Email:</Span> puneet_gupta@fosteringlinux.com</p>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
  </div>
  <br>

  <footer class="foot">
    <div class="icon">
        <a class="icons" href="https://www.facebook.com/share/u2wrSx1FBVoGTs51/?mibextid=WC7FNe"><i class="fab fa-facebook"></i></a>
        <a class="icons" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        <a class="icons" href="https://www.linkedin.com/company/fostering-linux/"><i class="fab fa-linkedin"></i></a>
    </div>
</footer>
</body>

</html>
