<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fostering Linux Services Pvt. Ltd. (Intern Noida)</title>
  <link rel="icon" href="https://media.licdn.com/dms/image/C4D0BAQG4gU20BdXhxw/company-logo_200_200/0/1630453388003/fostering_linux_logo?e=2147483647&v=beta&t=w9694YAd5QAltAHXNiTIxv33Q17Mcy7bLwXR-88XkNA">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="stylesheet" href="/stylesheet/style.css">
  <!-- <link rel="stylesheet" href="/sidebarprogram.css"> -->

</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <img class="logo_home" src="https://i.ibb.co/cCMkWG2/images-removebg-preview.png" alt="Logo">
    <div>
      <ul>
        <li><a href="/" id="homeLink">HOME</a></li>
        <li><a href="/program" id="programLink">PROGRAM</a></li>
        <li><a href="/aboutUs" id="aboutUsLink">ABOUT US</a></li>
        <li><a href="/contactUs" id="contactUsLink">CONTACT US</a></li>
        <li><a href="/applyNow" id="applyNowLink">APPLY NOW</a></li>
      </ul>
    </div>
  </nav>
  
  <br><br><br>
  <div class="program-section">
    <h1>Get the Inside Scoop: Our Internship Program</h1>
    <p>Ready to launch your career in Devops Engineer and Software Development Explore what awaits you at Fostering Linux Services Pvt. Ltd. Intern Noida
      through our immersive internship program.</p>

    <h2>Who We're Looking For</h2>
    <ul>
      <li class="li_program">Motivated</li>
      <li class="li_program">Passionate</li>
      <li class="li_program">Energetic</li>
      <li class="li_program">Self Driven</li>
<!--       <li class="li_program">Easy to Learn</li> -->
      <li class="li_program">Highly curious</li>
      <li class="li_program">Excited to Contribute</li>
      <li class="li_program">Fast Learner</li>
      <li class="li_program">Collaborative spirit</li>
      <div class="img1_program">
        <br>
        <img
          src="https://png.pngtree.com/png-vector/20230728/ourmid/pngtree-programming-clipart-professional-software-developer-cartoon-vector-png-image_6812501.png"
          alt="">
      </div>
    </ul>

    <h2>Apply & Get Selected</h2>
    <p>To join our program, you'll need to submit an application form. We
      evaluate candidates based on our criteria.</p>

    <h2>Your Internship Journey</h2>
    <p>Here's what you can expect during your time with us:</p>
    <ul>
      <li>
        <h3>Stage 1: Foundational Immersion (1 Month)</h3>
        <ul>
          <li class="li_program">Focus: Building a strong foundation for success through non-technical but essential
            skills. </li>
          <li class="li_program">Key Learnings:Communication and Collaboration: Mastering effective communication,
            teamwork, and conflict resolution.</li>
          <li class="li_program">Project Management: Understanding project lifecycles, planning, and task management
            methodologies.</li>
          <li class="li_program">Agile Methodologies: Introduction to agile principles and practices relevant to DevOps
            and development teams.</li>
          <li class="li_program">Professional Development: Setting personal goals, building time management skills, and
            enhancing professional communication.</li>
          <li class="li_program">Industry & Company Insights: Gaining a comprehensive understanding of the tech industry
            landscape and company's mission, values, and culture.</li>
          <li class="li_program">Activities: Interactive activities, team-building exercises, guest speaker sessions,
            company culture immersion activities.</li>
          <li class="li_program">Benefits: Strong communication, collaboration, and project management skills are
            invaluable for any developer or DevOps professional. This stage prepares interns for effective teamwork and
            navigating project complexities.</li>
      </li>
    </ul>
    </li>
    <li>
      <br><br>
      <h3>Stage 2: Project-Based Exploration (4 Months)</h3>
      <ul>
        <li class="li_program">Focus: Embarking on independent projects, applying learned skills, and demonstrating
          technical expertise.</li>
        <li class="li_program">Project Choice: Interns select projects aligned with their interests and career goals,
          with mentor guidance. Projects can focus on DevOps automation, development of new features, improving existing
          systems, or exploring emerging technologies.</li>
        <li class="li_program">Mentorship: Dedicated mentors provide support, guidance, and feedback throughout the
          project development process.</li>
        <li class="li_program">Technical Documentation: Interns create comprehensive technical documentation for their
          chosen projects, showcasing their understanding and communication skills.</li>
        <li class="li_program">Deliverables: Completed projects, technical documentation, and presentations
          demonstrating learning and achievements.</li>
        <li class="li_program">Benefits: Interns gain hands-on experience, build their portfolios, and explore specific
          technologies in-depth. Project documentation enhances communication and technical writing skills.</li>
      </ul>


    </li>
    </ul>

    <h2>Learning & Development</h2>
    <p>We go beyond just tasks you'll gain valuable skills through:</p>
    <ul>
      <li class="li_program">Master in-demand skilss through project-based learning</li>
      <li class="li_program">Develop your professional toolkit through workshop and mentorship</li>
      <li class="li_program">Expand your knowledge with extensive learning resources</li>

      <div class="img_program">
        <img src="https://img.freepik.com/free-vector/internship-job-training-illustration_23-2148751280.jpg" alt="">
      </div>
    </ul>

    <h2>Here's why you should intern with us:</h2>
    <ul>
      <li class="li_program">Immerse yourself in cutting-edge technologies:</li>
      <p>Gain hands-on experience with the latest tools and technologies used by industry leaders in [Your Industry].
      </p>
      <p>Work on real-world projects that make a difference, not just simulated exercises.</p>
      <p>Contribute to meaningful work that impacts our company and its clients.</p>

      <li class="li_program">Learn from the best:</li>
      <p>Receive personalized mentorship and guidance from experienced professionals passionate about sharing their
        knowledge.</p>
      <p>Get regular feedback and support to help you learn, grow, and develop your skills.</p>
      <p>Participate in workshops, training sessions, and industry events to expand your knowledge base.</p>

      <li class="li_program">Build your network and future:</li>
      <p>Connect with industry leaders, mentors, and fellow interns, building valuable relationships for your future
        career.</p>
      <p>Gain exposure to diverse roles and career paths.</p>
      <p>Strengthen your resume and portfolio with real-world projects and experiences.</p>

      <li class="li_program">Thrive in a supportive environment:</li>
      <p>Join a collaborative and welcoming team culture where you'll feel valued and respected.</p>
      <p>Work in a fast-paced and dynamic environment that fosters innovation and creativity.</p>
      <p>Have fun and make lasting memories while contributing to something meaningful.</p>


    </ul>
    <br>
    <a href="/applyNow" class="apply-now-button">Apply Now</a>
  </div>

  <br><br><br>

  <footer class="foot">
    <div class="icon">
        <a class="icons" href="https://www.facebook.com/share/u2wrSx1FBVoGTs51/?mibextid=WC7FNe"><i class="fab fa-facebook"></i></a>
        <a class="icons" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        <a class="icons" href="https://www.linkedin.com/company/fostering-linux/"><i class="fab fa-linkedin"></i></a>
    </div>
</footer>


</body>
<script src="script.js"></script>

</html>
